nav{
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}

.navContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoMenu{
    padding-left: 1.5rem;
}

.navMenu{
//    min-width: 40%;
padding-right: 1.5rem;
}

.navItems{
    display: flex;
    justify-content: space-around;
}

.itemText{
    color: $c-sec_text;
    font-size: 12px;

}

.iconText{
    text-align: center;
    padding: .5rem;
}



/* RESPONSIVE MEDIUM SIZE */

@media only screen and (min-width: $MQ-M){

    .navContent{
        max-width: 1024px;
    }

    .itemText:hover{
        color: $c-main_action;
    }

    .logoMenu:hover,
    .proyectosIconMenu:hover,
    .sobremiIconMenu:hover,
    .hablamosIconMenu:hover{
        fill: $c-main_action;
    }

}