.iconTitle{margin-bottom: 0.75rem;}

.iconSection{margin-bottom: 0.75rem;}

.sectionTitle{
    margin-bottom: 3rem;}

.proyectostitle{color: $c-sec_text;}

.areasDeTrabajoTitle{margin-bottom: 1.5rem;}

.proyectosIcon, 
.objetivosIcon, 
.skillsIcon, 
.experienciaIcon, 
.estudiosIcon{
    margin-bottom: 0.75rem
}