.timelines{
    margin-bottom: 3rem;
}
.timeline{
    background-image: url(../img/line.png);
    background-repeat: repeat-y;
    overflow: auto;
    margin-bottom: 2.5rem;
    margin-left: -1rem;
}

.experienciaTitle{color:$c-sec_text;}

.eventTimeline{display: flex;}

.eventTitle{
    text-transform: uppercase;
    font-weight: bold;
    color: $c-sec_text; 
}

.lastEvent{background-color: white;}

.timeline span {
    display:block;
    position: absolute;
    background: $c-sec_text;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-top:6px;
}

.blankFirst{
    display:block;
    position: absolute;
    background: white;
    margin-left: -6px;
    width: 12px;
    height: 12px;
}

.blankLast, .blankLastlast{
    display:block;
    position: absolute;
    background: white;
    margin-left: -6px;
    width: 12px;
    margin-top:18px;
}

.blankLast{height: 178px;}

.blankLastlast{height:246px;}

.textoTimeline{
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}


/* RESPONSIVE MEDIUM SIZE */

@media only screen and (min-width: $MQ-M){
    .timelines{
        display: flex;
        justify-content: flex-start;
    }

    .experienciaProfesional, .experienciaEstudios{
        //width: 50%;
        max-width: 450px;
    }

    .experienciaProfesional{
        margin-right: 3rem;
    }
}