.heroProyecto{
    background-image: url("../img/proyectos/nauta_portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjetaProyecto{
    background-color: white;
    opacity: 0.8;
    margin: 1.5rem 0.4rem;
}

.contenidoTarjetaProyecto{
    margin: 0 0.4rem;
}