.heroProyecto{
    background-image: url("../img/proyectos/nauta_portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 1.5rem 0.75rem 0;
}

.tarjetaProyecto{
    background-color: white;
    opacity: 0.8;
    padding: 1.5rem 0.75rem;
    max-width: 360px;
    height: 312px;
}

.contenidoTarjetaProyecto{
    margin: 0 0.4rem;
}

.categoria{
    text-transform: uppercase;
    color: $c-sec_text;
    margin-bottom: 0.4rem;
}

.nombreProyecto{margin-bottom: 1.5rem;}

.nombreProyecto, .nombreAgencia{color: $c-sec_text;}

.nombreAgencia, .descripcionProyecto, .anoProyecto, .url{margin-bottom:0.75rem;}