h1 {
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    font-weight: 900;
    color: $c-titles;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 900;
    color: $c-titles;
    text-align: center;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 900;
    color: $c-titles;
    text-align: left;
    text-indent: 20px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $c-titles;
    text-align: center;
}

.titledescription {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $c-titles;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $c-titles;
    text-align: left;
    letter-spacing: 1px;
    text-indent: 40px;
}

p, ul, {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: $c-text;
    text-align: left;
    line-height: 28px;
    text-indent: 60px;
}
